@import url(https://fonts.googleapis.com/css?family=Open+Sans);

h1{
    color:blue;
    font-size: 53;
    font-family:"Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 300; 
    font-style:italic;
    text-decoration: underline;
    background: burlywood;
}

span {
    color:green;
    text-decoration-line: overline underline;
    text-decoration-color: blue;
    text-decoration-style: wavy;
    text-decoration-thickness: 1.5px;
    background-color: grey;
}
h2{
    color:red; 
    font-style:italic;
}

h3{
    margin: 30px;
    color:brown;
    text-decoration: overline underline violet 5px wavy;
}